<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="AdminId" value="admin" />
      <add key="AdminPassword" value="1111" />
      <add key="RequireLogin" value="true" />
    </appSettings>
</configuration>